In [1]:
2+2

4

In [1]:
2+2

4

In [2]:
print("mpoa")

mpoa

In [3]:
2+29348

29350

In [4]:
4+23424

23428

In [11]:
22343924*72897398745327*4592035287934509*342413*32423423443*434234902*234324384709324*79823074527348650329

674460422791694397787720967333330414248804752868552365655681284528506161890507113987414147025696

In [22]:
age= '25'
print (age)

25

In [3]:
Age = '45'
print(Age)

45

In [4]:


age_old='25'
age_new= 10
age_old=int(age_old)
if age_new > age_old :
    print( "it is greater" )
    print(age_old)
    print(age_new)
else:
    print('not')

not

In [5]:
Age

'45'

In [42]:
h=23132.8329
print(type(h))

<class 'float'>

In [53]:
print(h)
if type(h) == float:
    print(type(int(h)))
else:
    print('not')

23132.8329
<class 'int'>

In [58]:
num = int(input("Enter a number"))

if num>0:
    print("Number is positive")
    if num%2==0:
        print ('Number is even')
    else:
        print('nuber is odd')
else:
    print('number is zero or negative')

Number is positive
nuber is odd

In [61]:
year=int(input('Enter a year'))

if year>0:
    print('THIS YEAR IS')
    if year%4==0:
        print('Leap year')
    else:
        print('not a leap year')
else:
    print ('This is a not a valid year')

THIS YEAR IS
Leap year

In [79]:
num1 = int(input('enter the frist number'))
num2 = float(input('enter the second number'))
operator = input('enter the operator (+,-,*,/,%)')

result=0

if operator=='+':
    result=num1+num2
elif operator=='-':
    result=num1-num2
elif operator=='*':
    result=num1*num2
elif operator=='/':
    if num2 != 0:
        result=num1/num2
    else:
        print("can't divide by zero")
elif operator=='%':
    result=num1%num2
    print('The the result is a odd number', result)
else:
    print('enter valid numbers or operator')
print('This the result',result)

This the result 6.8996770460718305e+59

In [135]:
age=int(input('enter your age'))
#student= input ('are you student (y/n):')


if age<=5:
    price = 0
elif age<=10:
    price =10
elif age<=20:
    student= input ('are you student (y/n):')
    price=20
    if student == "y":
        price = age*0.75
elif age<30:
    price =40
else:
    price = 100

print ( "your price", price, 'accoding to your age', age )

your price 8.25 accoding to your age 11

In [112]:
20*0.75

15.0

In [170]:
for s in range(12,0,-2):
    print(s)

12
10
8
6
4
2

In [6]:
for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [179]:
for i in range(1, 5):
    for j in range(i):
        print(i, end='  ')
    print()

1
2  2
3  3  3
4  4  4  4

In [186]:
for i in range(1,5):
    for j in range(i):
        print(i)
    print ('this is ', j)

1
this is  0
2
2
this is  1
3
3
3
this is  2
4
4
4
4
this is  3

In [7]:
for i in range(1,5):
    for j in range(i):
        print(j)

0
0
1
0
1
2
0
1
2
3